@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070724;
  background-image: url("/public/assets/background-stars.svg");
}
.navbar {
  background-color: #070724;
  padding: 0;
}
.navbar-brand {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}
.nav-link {
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 20px;
}
.nav-link.active {
  background-color: blueviolet;
  color: #ffffff !important;
  font-weight: 700;
  border-top: 3px solid red;
}
.nav-link:hover {
  color: #ffffff !important;
  font-weight: 700;

  background-color: #419ebb;
}
.navbar-toggler {
  color: transparent;
}
.navbar-toggler-icon {
  background-image: url("/public/assets/icon-hamburger.svg");
  color: #ffffff;
}
