@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070724;
  background-image: url("/public/assets/background-stars.svg");
}
.navbar {
  background-color: #070724;
  padding: 0;
}
.navbar-brand {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}
.nav-item {
  margin: 0;
  padding: 0;
}
.nav-link__header {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  height: 100%;
  /* transition: all 0.1s ease-in;*/
}
.nav-link__header.active {
  background-color: blueviolet;
  color: #ffffff !important;
  font-weight: 700;
  border-top: 3px solid red;
}
.nav-link__header:hover {
  color: #ffffff !important;
  font-weight: 700;
  opacity: 1;
}
.navbar-toggler {
  color: transparent;
}
.navbar-toggler-icon {
  background-image: url("/public/assets/icon-hamburger.svg");
  color: #ffffff;
}
/*PLANETS
.col__planet {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif;
*/
.container {
  width: 75%;
}
/*CARD_BODY*/
.card {
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #070724;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-bottom: 39px;
}
.card-title {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin-top: 126px;
  margin-bottom: 23px;
}
.card-text {
  width: 350px;
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.nav {
  flex-direction: column;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
}
